body { 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3e8ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #d8b4f5;
  position: sticky;
  top: 0;
  z-index: 10000;
  transition: all 0.3s ease-in-out;
}

.header.scrolled {
  box-shadow: 0 1px 3px rgba(107, 64, 140, 1);
}

.logo img {
  width: 210px;
  height: auto;
  display: block;
}

.nav {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #d8b4f5;
}
.nav-links {
  display: inline-block;
}
.nav a[href^="#"] {
  margin: 1rem;
  color: #6b408c;
  text-decoration: none;
  transition: color 0.3s;
}
.nav a:hover {
  color: #4a306d;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .nav {
      flex-direction: column;
      text-align: center;
  }
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #d8b4f5;
  }
  .nav-links a {
      display: block;
      margin: 0.5rem 0;
  }
  .hamburger {
      display: block;
  }
  .nav-links.show {
      display: flex;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.home {
  overflow: hidden;
  padding: 50px;
  text-align: left;
  background-color: #f3e8ff;
  align-items: center;
}

.home .text-content {
  margin-top: 55px;
  margin-left: 20px;
  width: 45%;
  float: right;
  padding: 20px;
  text-align: left;
}

.home h1 {
  font-size: 32px;
  color: #4a306d;
}

.home p {
  font-size: 18px;
  color: #6b5f8a;
}

.home .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6b408c;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}

.home .button:hover{
  background-color: #4a306d;
  transform: translateY(-2px);
}

.home .image-container {
  float: left;
}

.home .image-container img{
  margin-left: 20px;
  width: 640px;
  height: 450px;
  object-fit: cover;
}

.home::after {
  content: "";
  display: table;
  clear: both;
}

/* about */
.about-section {
  padding: 50px;
  background-color: #f3e8ff;
  color: #4b3f72;
  width: 1160px;
}

.section-title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
  color: #4a306d;
  margin-top: 5px;
}

.about-subtitle {
  text-align: center;
  font-size: 1rem;
  color: #6b5f8a;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.about-image img {
  width: 400px;
  height: 360px;
  border-radius: 40px;
  box-shadow: 0 4px 6px rgba(75, 63, 114, 0.2);
  margin-left: -10%;
}

.about-content {
  max-width: 500px;
}

.about-text-greet {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #4b3f72;
  text-align: center;
}
.about-text-greet span{
  font-size: 2rem;
}

.about-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #4b3f72;
  text-align: justify;
}

/*blog*/
.blogs-section {
  text-align: center;
  padding: 50px 20px;
  background-color:#f3e8ff;
}

.blogs-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #4a306d;
  margin-top: 5px;
}

.blogs-subtitle {
  text-align: center;
  font-size: 1rem;
  color: #6b5f8a;
  margin-top: 2px;
}

.blogs-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  gap: 20px;
  max-width: 300px;
}

.blog-card {
  background: #FBFBFB;
  border: 2px solid #6b408c;
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  text-align: left;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.blog-card:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.blog-card h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #4a306d;
}

.img-oflow {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  max-height: 200px;
  min-height: 200px;
  scroll-snap-type: y mandatory;
  position: relative;
}

.img-oflow:hover {
  overflow-y: auto;
}

.img-oflow:hover::-webkit-scrollbar {
  display: block;
}

.img-oflow::-webkit-scrollbar{
width: 6px;
background: transparent;
display: none;
}

.img-oflow::-webkit-scrollbar-thumb {
  background: #6b408c; 
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.img-oflow:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.img-oflow::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.img-oflow img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  scroll-snap-align: start;
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 15px 0;
}

.blog-content {
  font-size: 0.9rem;
  color: #333;
}

.username {
  font-weight: bold;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.icons i {
  font-size: 1.2rem;
  cursor: pointer;

}

/* pop up */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal:target {
  display: flex;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 60%;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.modal h3{
  color: #4a306d;
  font-size: 2rem;
}

.modal p{
  color: #6b5f8a;
}

#borderimg {
  border: 18px solid transparent;
  padding: 10px;
  border-image: url(pictures/border.png) 20 round;
}

/* Slideshow */
.slideshow-container {
  position: relative;
  max-width: 100%;
}

.slide {
  display: none;
}

.slide img {
  width: 80%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

/* sprites for close, nxt, prev*/
.close {
  position: absolute;
  margin-top: 5px;
  top: 10px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url('pictures/closeee.png'); 
  background-size: 50px 50px; 
  background-position: center; 
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
}

.close:hover {
  opacity: 0.8; 
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
  height: 30px;
  background-image: url('pictures/nxtprevv.png');
  background-size: 42px 30px;
  background-repeat: no-repeat;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; 
  height: 35px;
  background-image: url('pictures/nxtprevv.png');
  background-size: 50px 30px; 
  background-repeat: no-repeat;
}

.prev {
  left: 10px;
  background-position: 0 0; 
}

.next {
  right: 10px;
  background-position: -25px 0;
}

.prev:hover, .next:hover {
  opacity: 0.7;
}

/* Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* footer */
.footer {
  background-color: #d8b4f5;
  padding: 0.5rem 0.5rem;
  text-align: center;
  color: #4a306d;
}

.footer .social-icons {
  margin-top: 1rem;
}

.footer .icon {
  margin: 0 0.5rem;
  color: #6b408c;
  transition: color 0.3s;
}

.footer .icon:hover {
  color: #4a306d;
}

/*media queries*/
@media (max-width: 1500px )
{
  .blogs-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1030px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .nav a {
    display: block;
    margin: 0.5rem 0;
  }

  .home {
    flex-direction: column;
    text-align: center;
  }

  .home .text-content {
    padding: 20px;
  }
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 100%;
    height: 110;
    margin-left: 0;
  }

  .blogs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .blogs-container {
    grid-template-columns: 1fr;
  }

  .blog-card {
    width: 100%;
  }

  .modal-content {
    width: 90%;
  }

  .home h1 {
    font-size: 24px;
  }

  .home p {
    font-size: 16px;
  }
}